html {
  font: Arial, Helvetica, sans-serif;
}
.img-circle {
  max-width: 50%;
  max-height: auto;
}

header {
  background: black;
  background-size: cover;
}

.topnav {
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #cccccc;
  color: black;
}

.topnav a.active {
  background-color: #cccccc;
  color: black;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 10px;

}
.col-sm-1 {
  padding: 10px 10px 10px 10px;
}

.col-sm-2 {
  color: white;
  padding: 5px 10px 10px 10px;
}

.col-sm-6 {
  padding: 52px 10px 10px 10px;
  margin: auto;
  text-align: center;
}
#navigation {
  padding: 52px 10px 10px 30px;
}

.bg-image {
  filter: blur(5px);
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
  position: relative;
  opacity: 1;
  z-index: 2;
  transition:
  opacity: 500ms;
  ease-in-out: 0s;
  width: 50%;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
